body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.primopiano {
  text-align: center;
  background-image: url("../img/auto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  width: auto;
  padding: 50px;
  margin-bottom: 50px; }
  .primopiano #offerta #prezzo {
    font-size: 50px;
    color: lightseagreen; }
  .primopiano #offerta .button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: lightseagreen;
    font-size: larger; }
    .primopiano #offerta .button:hover {
      background-color: grey;
      color: lightseagreen; }

.testimonianze {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .testimonianze .testimoni {
    width: 500px;
    padding: 20px;
    margin: 10px; }
    .testimonianze .testimoni .profilo {
      border-radius: 100%;
      height: 50px;
      width: 50px; }

.pubblicita {
  background-color: lightseagreen;
  padding: 20px;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#interships {
  text-align: center;
  padding: 50px; }
  #interships .partnerships {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #interships .partnerships .partner .logo {
      padding: 20px;
      height: 180px;
      width: 300px; }

footer {
  text-align: center;
  background-color: #212529; }
  footer .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    footer .footer #sezioni {
      width: 300px;
      height: auto;
      padding: 20px;
      display: block;
      border-radius: 20px; }
      footer .footer #sezioni h4 {
        color: white; }
      footer .footer #sezioni ul li {
        list-style: none; }
        footer .footer #sezioni ul li a {
          text-decoration: none;
          color: white; }
