#testoalternato{
    width: 500px;
    height: auto;
    border: solid black 3px;
    padding: 10px;
    text-align: left;
    margin: auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


