header{
    position: sticky;
    top: 5px;
    background-color: white;
    width: 100%;
    z-index: 1;
}

header nav li{
    display: inline;
    margin-right: 5px;
    clear: both;
}

#badge{
    float: left;
    padding: 2px;
    border: solid 5px blue;
    outline: 2px solid orangered;
    margin-right:5px;
}

section{
    position: relative;
}
section h2{
    position: absolute;
    background-color: grey;
    color: rgb(66, 66, 66);
    padding: 3px;
    border-radius: 5%;
    left: 30px;
    bottom: 55px;
}
